root = true

[*]
charset = utf-8
end_of_line = lf
insert_final_newline = true

[*.{py,md,yaml,yml,json,toml,js,ts,svelte,css,html}]
trim_trailing_whitespace = true

[*.md]
trim_trailing_whitespace = false
